<h1>SUPPORTERS TEXT from {{cityParam}}</h1>
<ol>
    {{#arr}}
        <li>
            {{#if homepage}}<a
                    href="
                {{homepage}}"
                >{{firstname}}
                    {{lastname}}</a>
            {{else}}
                {{firstname}}
                {{lastname}}
            {{/if}}
            {{#if age}} {{age}} {{/if}}
        </li>
    {{/arr}}
</ol>